In [8]:
#-Data Processing
import numpy as np
import pandas as pd
from tabulate import tabulate

#-Libraries for visualization
import matplotlib.pyplot as plt
from matplotlib import style
import matplotlib.ticker as ticker
import seaborn as sns
import statsmodels.api as sm

#-Modeling and processing
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RepeatedKFold
from sklearn.neighbors import KNeighborsClassifier
from sklearn.datasets import make_blobs
from sklearn.metrics import euclidean_distances
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import Ridge 

from skopt.space import Real, Integer
from skopt.utils import use_named_args
from skopt import gp_minimize
from skopt.plots import plot_convergence

#-Others
import multiprocessing 
import random
from itertools import product
from fitter import Fitter, get_common_distributions

In [9]:
#-Matplotlib configuration
plt.rcParams['image.cmap'] = 'bwr'
plt.rcParams['savefig.bbox'] = 'tight'
style.use('ggplot') or plt.style.use('ggplot')

#-Warnings configuration
import warnings
warnings.filterwarnings('ignore')

In [14]:
path = "data/SaratogaHouses.csv"
data = pd.read_csv(path, sep=',')
data.head()

,price,lotSize,age,landValue,livingArea,pctCollege,bedrooms,fireplaces,bathrooms,rooms,heating,fuel,sewer,waterfront,newConstruction,centralAir
0,132500,0.09,42,50000,906,35,2,1,1.0,5,electric,electric,septic,No,No,No
1,181115,0.92,0,22300,1953,51,3,0,2.5,6,hot water/steam,gas,septic,No,No,No
2,109000,0.19,133,7300,1944,51,4,1,1.0,8,hot water/steam,gas,public/commercial,No,No,No
3,155000,0.41,13,18700,1944,51,3,1,1.5,5,hot air,gas,septic,No,No,No
4,86060,0.11,0,15000,840,51,2,0,1.0,3,hot air,gas,public/commercial,No,Yes,Yes

In [ ]:
#data.columns = ['price', '']

EDA

Antes de utilizar un nuevo conjunto de datos para entrenar un modelo predictivo o llevar a cabo cualquier cálculo, es fundamental realizar un análisis exploratorio detallado. Este proceso implica examinar cada variable para comprender que información contiene y detectar posibles errores como, por ejemplo:
-	El almacenamiento incorrecto de una columna (por ejemplo, una variable numérica se ha guardado como texto o viceversa)
-	La presencia de valores que no tienen sentido, como la introducción del valor 0 o un espacio en blanco para indicar la falta de información
-	Inclusión de palabras en lugar de números en variables numéricas
Además, este análisis puede proporcionar pistas sobre qué variables son adecuadas como predictores en un modelo.

Tipo de columna

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   price            1728 non-null   int64
 1   lotSize          1728 non-null   float64
 2   age              1728 non-null   int64
 3   landValue        1728 non-null   int64
 4   livingArea       1728 non-null   int64
 5   pctCollege       1728 non-null   int64
 6   bedrooms         1728 non-null   int64
 7   fireplaces       1728 non-null   int64
 8   bathrooms        1728 non-null   float64
 9   rooms            1728 non-null   int64
 10  heating          1728 non-null   object
 11  fuel             1728 non-null   object
 12  sewer            1728 non-null   object
 13  waterfront       1728 non-null   object
 14  newConstruction  1728 non-null   object
 15  centralAir       1728 non-null   object
dtypes: float64(2), int64(8), object(6)
memory usage: 216.1+ KB